@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";
@font-face {
  font-family:'Barlow Semi Condensed';
  src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --table-border:1px solid rgb(204, 200, 200);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
html {
  scroll-behavior: smooth;
}
body {
 
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.rps{
  

  color:white;
}

.title{
color:#ffffffec;
  top: 2%;
  width: 100%;
padding: 0.4rem;


  border-radius: 15px;
  z-index: 10;
  transform-style: preserve-3D;
 
}

.title::after,.title::before{
  content: " ";
  position: absolute;
opacity: 1;
  z-index: -1;
  border-radius: inherit;
  width: 100%;

 transform: translateZ(-1px); 


  background: conic-gradient(from var(--gradient-angle), rgba(223, 28, 207, 0.538) , rgba(188, 49, 49, 0.352) ,  rgba(0,212,255,1)  ,rgba(223,28,206,1),rgba(188,49,49,1));
  animation:5s animateTitle   infinite linear;
}
/* .title::before{
  filter: blur(2.5rem);
  inset: .5rem;
}
.title::after{
  inset: 2rem;
  filter: blur(10rem);
} */


@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes animateTitle{
0%{
  --gradient-angle: 0deg;
  /* opacity: 0; */
}

100%{
  --gradient-angle:360deg;
}
}
/* leaflet */

td,th{
  padding:0.5rem
}

.multi-step-form>table>thead>tr
{
  border-bottom: var(--table-border);
}
.multi-step-form>table>thead >tr:first-child>th:not(:last-child){
  border-right:var(--table-border);
}
.multi-step-form>table>thead>tr+*>th{
  border-right:var(--table-border);
}
